html{
    font-size: 62.5%;
}

*,*::after,*::before{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


.box1{
background: url(https://picsum.photos/400/900);
}
.box2{
    background: url(https://picsum.photos/400/900);
}
.box3{
    background: url(https://picsum.photos/400/900);
}
.box4{
    background: url(https://picsum.photos/400/900);
}
.container {
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: wheat;
    cursor: pointer;
    margin: 10px;
    flex: .02;
    position: relative;
    transition:flex .7s ease-in;
}

.panel h2{
    
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    text-align: center;
}

.panel.active{
    flex: .5;
}

.panel.active h2{
    opacity: 1;
}