h2{
    color: green;
    text-transform: uppercase;
}


.one::after{
    content: "-->";
    margin-left: 5px;
    transition: margin .15s;
}

.one:hover::after{
    margin-left: 15px;
    margin-left: 15px;
    margin-left: 15px;
    margin-left: 15px;
    margin-left: 15px;
    margin-left: 15px;
    margin-left: 15px;
    margin-left: 15px;
    margin-left: 15px;

    
    
}